@import '../../theme/styles/variables';

.main {
  position: relative;
  .input {
    width: 100%;
    > div {
      background-color: #fff !important;
      border-radius: $smallRadius;
      > input {
        height: auto;
      }
      > fieldset {
        border-radius: $smallRadius;
      }
      &:hover fieldset {
        border-color: $mainColor !important;
      }
      :global(.MuiAutocomplete-endAdornment) {
        top: 0;
      }
    }
  }
  .rounded > div {
    border-radius: $fullRadius;
    > fieldset {
      border-radius: $fullRadius;
    }
  }
  .error {
    position: absolute;
    top: 90%;
    left: 0.25em;
    max-width: 20em;
    color: $secondaryColor;
    font-size: $tinyFont;
    font-weight: 600;
  }
}
