@import '../../../theme/styles/variables';

.main {
  z-index: 3;
  height: 100vh;
  display: flex;
  justify-content: center;

  .form {
    height: 80vh;
    padding: 3em 8em;
    background-color: $lightGreen;
    border-radius: $normalRadius;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;

    form {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 50em;
      height: 100%;
      justify-content: space-between;

      svg {
        // min-height: 64px;
      }

      .inputsWrapper {
        display: flex;
        justify-content: space-between;
        > div,
        > button {
          width: 48% !important;
        }
      }
    }
    .intro {
      font-size: $largeFont;
      font-weight: 600;
    }
  }
}
