@import '../../../theme/styles/variables';

.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  // gap: 1em;
  row-gap: 0.8em;
  column-gap: 1em;
  margin-bottom: 2em;

  :global(.MuiChip-root) {
    padding: 0 1.5em;
    background-color: $lightGreen;
    color: $textColor;
    border: 0.5px solid $wheat;
    cursor: pointer;

    &.selected,
    &:hover {
      background-color: $mainColor;
      color: #fff;
    }
  }
}
