@import '../../../theme/styles/variables';

.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: $normalRadius;
  padding: 1em;
  margin: 1em;
  text-decoration: none;
  background-color: $lightGreen;
  height: 200px;

  .image {
    aspect-ratio: 3/2;
    width: 35%;
    object-fit: cover;
    border-radius: $normalRadius;
    height: 100%;
  }

  .details {
    width: 65%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: $textColor;
    margin: 0 1em;
    height: 100%;

    .descriptionGroup {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .topContainer {
        display: flex;
        flex-direction: column;
        margin-left: 0.2em;

        .title {
          font-size: $largeFont;
          font-weight: 500;
          margin: 0.5em 0;
        }
        .description {
          font-size: $normalFont;
          margin: 0;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
      .bottomContainer {
        display: flex;
        justify-content: space-between;

        .bottomLeftContainer {
          display: flex;
          align-items: center;

          .locationGroup {
            display: flex;
            align-items: center;

            .location {
              font-size: $smallFont;
              font-weight: 500;
            }
          }
          .separator {
            display: flex;
            align-items: center;
            margin: 0 5px;

            svg {
              font-size: 7px;
            }
          }
          .date {
            font-size: $smallFont;
            font-weight: 300;
          }
        }
      }
    }

    .topContainer {
      display: flex;
      justify-content: space-between;

      .categories {
        display: flex;
        max-width: 80%;
        gap: 5px;
        flex-wrap: wrap;

        :global {
          .MuiChip-root {
            color: $mainColor;
            height: 27px;
            border: 1px solid $mainColor;
            background-color: #fff;
          }
        }
      }
      .moreDots {
        z-index: 11111;
      }
    }
  }
}
