// colors
$mainColor: #58bc8c;
$secondaryColor: #ff5e5e;
$lightGreen: #eef8f3;
$textColor: #767070;

// radius
$smallRadius: 0.7em;
$normalRadius: 1em;
$largeRadius: 1.2em;
$fullRadius: 999em;

// fonts
$tinyFont: 0.8em;
$extraSmallFont: 1em;
$smallFont: 1em;
$normalFont: 1.2em;
$largeFont: 1.4em;
$extraLargeFont: 1.6em;
