// colors
$mainColor: #58bc8c;
$secondaryColor: #ff5e5e;
$lightGreen: #eef8f3;
$textColor: #767070;
$wheat: #e2e2e2;

// radius
$smallRadius: 0.7em;
$normalRadius: 1em;
$largeRadius: 1.2em;
$fullRadius: 999em;

// fonts
$tinyFont: 10px;
$extraSmallFont: 12px;
$smallFont: 14px;
$normalFont: 16px;
$largeFont: 18px;
$extraLargeFont: 20px;
