@import '../../theme/styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content {
    max-width: 1000px;
    width: 100%;
    padding: 2em 10em;

    .header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 1em 0;
      padding: 0.5em 0;
      border-bottom: 1px solid $textColor;

      .filters {
        display: flex;
        align-items: center;
        column-gap: 2em;

        :global(.MuiFormControl-root) {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }

    .products {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
