@import '../../../theme/styles/variables';

.main {
  margin: 1em 0;

  .imageIcon {
    margin: 0 0.25em;
    cursor: pointer;
  }
  .label {
    margin-left: 0.25em;
    margin-bottom: 0.5em;
  }
  .inputWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
}
