@import '../../theme/styles/variables';

.main {
  height: 100vh;
  display: flex;
  justify-content: center;

  .form {
    padding: 2em 7em;
    background-color: $lightGreen;
    border-radius: $normalRadius;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    form {
      display: flex;
      flex-direction: column;
      width: 20em;
    }
    .intro {
      font-size: $smallFont;
      font-weight: 600;
    }
    .forgotPsw {
      color: $mainColor;
      font-weight: bold;
      font-size: $tinyFont;
    }
    .helper {
      font-size: $extraSmallFont;
      font-weight: 400;
      margin-top: 2em;
      a {
        color: $secondaryColor;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
}
