@import '../../theme/styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content {
    max-width: 1000px;
    padding: 2em 10em;

    .products {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 3rem;
      justify-content: space-between;
    }
  }
}
